html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 2rem;
    color: #802323;
}

header {
    background-color: #cbb64c
}


#aside{
    background-color: yellow;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 40%;
    height: 80px;
    padding: auto;
    margin: 1rem;
}

.content {
    background-color: yellow;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 40%;
    height: 80px;
    padding: auto;
    margin: 1rem;
}

@media only screen and (min-width: 480px) {

	/* CSS Selectors and related style */

.box {
    width: 25%;
}

}

@media only screen and (min-width: 780px) {

	/* CSS Selectors and related style */

.box {
    width:40%;
}

}

@media only screen and (min-width: 1080px) {

	/* CSS Selectors and related style */

.box {
    width:60%;
}

}
